$primary-color: #226ce0;
$primary-color-dark: #1f2041;
$primary-color-light: #f3f7fe;

$box-shadow: lighten(#226ce0, 30%);

$color-white: #fff;
$color-black: #000;

$color-grey: #707070;

$font-family: 'Montserrat', sans-serif;