$primary-color: #226ce0;
$primary-color-dark: #1f2041;
$primary-color-light: #f3f7fe;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #707070;
$color-grey-medium: #494949;
$color-grey-dark: #2b2b2b;

$box-shadow-color: lighten(#226ce0, 30%);

$font-family: 'Montserrat', sans-serif;

$grid-max-width: 114rem;