.home-header {
    &__img {
        margin: 0 auto;
        display: block;
        width: 115%;

        @media (max-width: 68.75em) { // 1100px
            transform: translate(-4.5rem, 2.3rem);
        }

        @include respond(tab-portrait) {
            width: 120%;
            transform: translate(-6.5rem, 5rem);
        }
    }

    .social {
        @include respond(tab-portrait) {
            padding: 0;

            &__container {
                transform: translateY(-5.5rem);
            }
        }

        @include respond(tab-portrait-s) {
            padding-top: 3rem;

            &__container {
                transform: translateY(0);
            }
        }

        @include respond(phone-s) {
            padding-top: 1.5rem;
        }
    }
}