.footer {
    background: radial-gradient(circle at 20% 40%, #226CE0, #2265D2, #215EC3, #2157B5, #2150A6, #214998, #204389, #203C7B, #20356C, #202E5E, #1F274F, #1F2041);
    position: relative;

    &__content-box {
        padding-top: 3rem;
        grid-column-gap: 4rem;
        grid-row-gap: 2rem;

        @include respond(tab-portrait-s) {
            padding: 3rem 4rem 0 4rem;
            grid-column-gap: 3rem;
        }
    
        @media (max-width: 40.62em) {
            padding: 3rem 2rem 0 2rem;
        }

        @include respond(phone) {
            padding: 4rem 1.5rem 0 1.5rem;
            grid-column-gap: 3rem;
            grid-row-gap: 4rem;
        }
    }

    &__logo {
        margin-bottom: 1.5rem;
        
        svg {
            height: 3.4rem;
            fill: $color-white;
        }

        @include respond(tab-portrait-s) {
            margin-bottom: .8rem;
        }

        @include respond(phone) {
            margin-bottom: 0;
        }
    }

    &__list, &__contact-list {
        margin-top: 2.5rem;
        list-style-type: none;

        @include respond(tab-portrait-s) {
            margin-top: 1.1rem;
        }
    }

    &__insights {
        @include respond(phone-s) {
            column-count: 2;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__part {
        &--1 {
            @include respond(tab-portrait-s) {
                grid-row: 2 / 3;
                grid-column: col-start 1 / col-end 7
            }
        }

        &--2,
        &--3,
        &--4 {
            @include respond(tab-portrait-s) {
                grid-column: span 4;   
            }
        }

        &--1,
        &--2 {
            @include respond(phone) {
                grid-column: span 6;
            }
        }

        &--3 {
            @include respond(phone) {
                grid-column: col-start 1 / col-end 6;
                grid-row: 1 / 2;
            }
        }

        @include respond(phone-s) {
            &--1 {
                grid-row: 4 / 5;
                grid-column: col-start 1 / -1;
            }

            &--2 {
                grid-row: 2 / 3;
                grid-column: 1 / -1;

            }

            &--4 {
                grid-row: 3 / 4;
                grid-column: 1 / -1;
            }

            &--3 {
                grid-row: 1 / 2;
                grid-column: col-start 1 / col-end 12;
            }
        }
    }

    &__contact-details {
        margin-bottom: .6rem;

        p {
            font-weight: 500;
        }
    }

    &__social-media-box {
        margin-top: .9rem;
        display: inline-flex;
    }

    &__social-m-item {
        transition: all .1s;

        &:not(:last-child) {
            margin-right: 1.1rem;
        }

        &:hover {
            transform: scale(1.2);
        }

        svg {
            fill: $color-white;
            width: 2.5rem;
        }

        a {
            display: inline-block;
        }
    }

    &__copywrite {
        padding-bottom: 1rem;
        grid-column: col-start 1 / col-end 12;
    }
}